[submodule "apps/qtcloud-course"]
	path = apps/qtcloud-course
	url = https://github.com/quanttide/qtcloud-course.git
[submodule "packages/default"]
	path = packages/default
	url = https://github.com/quanttide/quanttide-course-toolkit.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-course-development.git
[submodule "docs/essay"]
	path = docs/essay
	url = https://github.com/quanttide/quanttide-essay-of-course-development.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-course-development.git
[submodule "docs/tutorial"]
	path = docs/tutorial
	url = https://github.com/quanttide/quanttide-tutorial-of-course-development.git
