[submodule "apps/qtcloud-course"]
	path = apps/qtcloud-course
	url = https://github.com/quanttide/qtcloud-course.git
[submodule "packages/default"]
	path = packages/default
	url = https://github.com/quanttide/quanttide-course-toolkit.git
[submodule "data/profile"]
	path = data/profile
	url = https://github.com/quanttide/quanttide-profile-of-course-development.git
[submodule "assets/courses/big-data"]
	path = assets/courses/big-data
	url = https://github.com/quanttide/quanttide-course-of-big-data.git
